body {
    background-color: #f4f6ff;
    font-family: 'Roboto', sans-serif;
}

.initiative-group {
    background-color: #fff;
    border: solid;
    border-color: gray;
}

.initiative-main {
    margin-top: 40px;
    margin-left: 5%;
}

.character-button {
    width:100%;
    height: 30px;
}

.initiative-text {
    width: 20%;
    height: 30px;
}

.hidden {
    visibility: hidden;
}

.top-init-buttons {
    margin-bottom: 15px;
    margin-top: 30px;
}

.bottom-init-buttons {
    margin-top: 15px;
    margin-bottom: 30px;
}

.row-2 {
    margin-bottom: 0;
    padding: 0;
}

.row-2-a {
    margin-bottom: -30px;
}

.row-3 {
    border-top: solid;
    border-color: gray;
    padding-top: 20px;
}

.row-4 {
    border-top: solid;
    border-color: gray;
    margin-top: 30px;
}

.text-init {
    background-color: #e1e2e4;
    color: black;
    height: 50%;
    width: 8%;
    border: none;
    text-align: center;
    margin: 5px -5px auto 10px;
    padding: 0;
}

.char-hp {
    display: inline-block;
    width: 18%;
    background-color: #e1e2e4;
    height: 90%;
    margin: 5px -5px auto 0px;
    text-align: center;
    border-width: 1px;
    border-color: #bbbcbe;
    border-style: solid solid solid none;
}

.character-info {
    display: inline-block;
    border: 1px solid #e1e2e4;
    border-color: gray;
    margin: 5px -5px 0 0;
    width: 70%;
    border-bottom-left-radius: 3px;
    height: 90%;
}

.active-init {
    background-color: #1b9af0;
    color: white;
}

.active-char {
    border-color: #1b9af0;
    border-width: 3px;
}

.character-col {
    padding: 0;
    margin-top: 10px;
}

.text-init:hover {
    background-color: #bbbbbb;
    text-decoration: underline;
}

.active-init:hover {
    background-color: #7ac0ee;
}

.char-hp:hover {
    background-color: #bbbbbb;
}